/* auto-fit hace que se agregue otra columna si se puede (si hay 600px mete 2), sino, va aumentanto el tamaño de las columas (dado por 1fr) */
.gifs {
  width: 80%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: masonry;
  gap: 10px;
  align-items: flex-start;
}
